.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.page{
  width: 100%;
}

.navbar{
  background-color:rgba(21,13,67,1);
  border-bottom: 1px solid grey;
  width:100%;
}

.box{
  border-radius: 12px;
  background: #54d1ff;
  padding: 20px;
  width: 10%;
  height: 55px;
  padding-left: 11%; 
  margin-left: 2.5%;
}

.p{
  color:white;
}

.box-1{
  border-radius: 12px;
  background: rgba(65,62,109,1);
  height: 30.33%;
  padding-left: 2.5%; 
  margin-left: 2.5%;
  padding-right:9.5%;
  margin-right: 9%;
  margin-bottom:7.5%;
  padding-bottom:15.5%;
  margin-top:5.5%;
  padding-top:5.5%;
  text-align: center;
}

.box-2{
  border-radius: 12px;
  background: rgba(65,62,109,1);
  max-width: 80%;
  text-align: center;
  margin-bottom: 10%;
}

.box-3{
  border-radius: 12px;
  background: rgba(65,62,109,1);
  height: 30.33%;
  padding-left: 2.5%; 
  margin-left: 2.5%;
  padding-right:9.5%;
  margin-right: 9%;
  margin-bottom:7.5%;
  padding-bottom:15.5%;
  margin-top:5.5%;
  padding-top:5.5%;
  text-align: center;
  
}

.row{
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap !important;
  margin-right: 0;
}

.Aspiring{
padding-top: 5%;
padding-bottom: 5%;
margin-bottom:0;
}

.Rising{
  padding-top: 5%;
}

.Model{
  padding-top: 5%;
}

.column{
  display:flex;
  flex-direction:column;
  flex-wrap: nowrap !important;
  margin-left: 0px;
  padding-left: 0px;

}

.stat-1{
  border-radius: 12px;
  background: #54d1ff;
  padding: 20px;
  width: 100px;
  padding-left: 9%;
  margin-left: 2.5%;
  border-bottom: 1px solid grey;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.map{
  filter: opacity(0.5) drop-shadow(0rem 0.1rem 0.1rem crimson);
  border: 1px white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
